@model List<EventCommentViewModel>

@if (Model != null && Model.Any())
{
    @foreach (var comment in Model)
    {
        <div class="container my-4">
            <div class="comment border p-2 rounded">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="flex-grow-1 pe-3">
                        <div class="d-flex align-items-baseline gap-2">
                            <strong>@comment.User.Username</strong>
                            <small class="text-muted" style="font-size: 0.55rem;">(@comment.CreatedAt)</small>
                        </div>
                        @* <samp class="d-block">@comment.Comment</samp> *@
                        <pre class="mb-0">@comment.Comment</pre>
                    </div>

                    @if (User.Identity.IsAuthenticated && User.Identity.Name.Equals(comment.User?.Username))
                    {
                        <div class="d-flex flex-column gap-1">
                            <a asp-controller="EventComment" asp-action="Edit" asp-route-eventId="@comment.EventId" asp-route-eventCommentId="@comment.IdEventComment" class="btn btn-sm btn-outline-secondary">Edit</a>
                            <a asp-controller="EventComment" asp-action="Delete" asp-route-eventId="@comment.EventId" asp-route-eventCommentId ="@comment.IdEventComment" class="btn btn-sm btn-outline-danger">Delete</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}
else
{
    <p>No comments yet.</p>
}